@font-face {
    font-family: 'Montecatini Pro';
    src: url(/MontecatiniPro-StrettoLight/MontecatiniPro-StrettoLight.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    font-family: 'Montecatini Pro';
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem 1rem;
    width: 100%;
    margin: 0;
}

.menu li {
    position: relative;
    transition: background-color 0.3s; /* Transición para el color de fondo */
    text-align: center;
}

.menu a:hover {
    background-color: red; /* Color de fondo al pasar el ratón */
    color: white;
}

.menu a {
    text-decoration: none;
    padding: 12px 16px;
    color: black;
    display: block; /* Hace que el enlace ocupe todo el ancho del elemento li */
}

.menu a.rojo {
    text-decoration: none;
    padding: 12px 16px;
    color: red;
}

.menu a.rojo:hover {
    background-color: red;
    color: white;
}

span {
    color: red;
    padding: 12px 16px;
}

.submenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%; /* Posiciona el submenú justo debajo del elemento principal */
    left: 50%;
    transform: translateX(5%); /* Centra horizontalmente el submenú */
    width: auto; /* Ajusta el ancho del submenú */
    padding: 10px 50px; /* Espaciado horizontal para ampliar los lados */
    background-color: rgb(203, 203, 203); /* Fondo gris para el submenú */
    list-style: none;
    margin: 0;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    opacity: 0; /* Inicialmente invisible */
    visibility: hidden; /* Inicialmente oculto */
    clip-path: inset(0 0 100% 0); /* Oculta el submenú */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, clip-path 0.3s ease-in-out; /* Transición para la opacidad, visibilidad y clip-path */
}

.submenu li {
    display: inline-block;
    margin: 0 10px; /* Espaciado horizontal entre los elementos del submenú */
}

.submenu li a {
    padding: 10px 15px;
    color: #000;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
}

.submenu li a:hover {
    background-color: red;
    color: white;
    border-radius: 5px;
}

.menu li:hover .submenu,
.menu li:focus-within .submenu {
    opacity: 1; /* Hace visible el submenú */
    visibility: visible; /* Hace visible el submenú */
    clip-path: inset(0 0 0 0); /* Muestra el submenú */
}

.submenu2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%; /* Posiciona el submenú justo debajo del elemento principal */
    left: 50%;
    transform: translateX(-35%); /* Centra horizontalmente el submenú */
    width: auto; /* Ajusta el ancho del submenú */
    padding: 10px 50px; /* Espaciado horizontal para ampliar los lados */
    background-color: rgb(203, 203, 203); /* Fondo gris para el submenú */
    list-style: none;
    margin: 0;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    opacity: 0; /* Inicialmente invisible */
    visibility: hidden; /* Inicialmente oculto */
    clip-path: inset(0 0 100% 0); /* Oculta el submenú */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, clip-path 0.3s ease-in-out; /* Transición para la opacidad, visibilidad y clip-path */
}

.submenu2 li {
    display: inline-block;
    margin: 0 10px; /* Espaciado horizontal entre los elementos del submenú */
}

.submenu2 li a {
    padding: 10px 15px;
    color: #000;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
}

.submenu2 li a:hover {
    background-color: red;
    color: white;
    border-radius: 5px;
}

.menu li:hover .submenu2,
.menu li:focus-within .submenu2 {
    opacity: 1; /* Hace visible el submenú */
    visibility: visible; /* Hace visible el submenú */
    clip-path: inset(0 0 0 0); /* Muestra el submenú */
}
